.Home {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.Home main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}